* {
    font-family: fantasy;
}

body {
    background-image: url(backimg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    padding-left: 220px;
}

.box h1 {
    text-align: center;
    color: aliceblue;
}

.box {
    width: 400px;
    height: 600px;
    border: 20px solid chocolate;
    padding: 10px;
    margin: 10px;
    background-color: darkgreen;
    background-attachment: fixed;
}

#table-container {
    margin-top: 80px;
    color: aliceblue; 
    padding-left: 40%;
}

h1 {
    text-align: center;
}
